<% include partials/header %>
<% include partials/_header %>
<style>
p {
	color: green;
	font-family: verdana;
	font-size: 300%
	}
</style>

<div class="container">
	<div>
		<p class="text-center">Order List</p>
	</div>
	<div>
		<table id="table" style="width:100%">

			<tr>
				<th>Order#</th> 
				<th>Order Items</th>
				<th>Time Ordered</th>
				<th>Time Fulfilled</th>
				<th>FulFill</th>
				<th>Cancel</th>
			</tr>
			<% for(var i=0; i < orderData.length; i++) { %>
			   <tr>
						<td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><%= orderData[i].id %></button></td>
						<td><%= orderData[i].title %></td>
						<td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><%= orderData[i].price %></button></td>
						<td>Null</td>
						<td><button id=<%= orderData[i].id%>>FulFill Order</button></td>
						<td><button id=<%= orderData[i].id%>>Cancel Order</button></td>
			   </tr>
			<% } %>
			<tr id="row1">
				<td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  512
</button></td>
				<td>9:30pm</td> 
			<td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Bob
</button></td>
			
			</tr>
		</table>
	</div>
</div>

​<script>
	$(function () {
  		$('[data-toggle="popover"]').popover()
	})

	// $(function () {
	// 	$('')
	// })

</script>

<% include partials/footer %>
