<% include partials/header %>
<% include partials/_header.ejs %>
<!-- Nav pills -->
<!-- Nav tabs -->
<ul class="nav nav-tabs nav_tab_custom">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#active">Active Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#inactive">Inactive Order</a>
        </li>
</ul>
      
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content modal_table_custom">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Order Detail</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Order #</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>06/30/18</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>$ 50.00 </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>Processing</td>
                            <tr>
                                  <td>Detail</td>
                                  <td>menu1, menu2, menu3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      <!-- Modal-->
      <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Cancel order# 1234?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok">Cancel</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Not now</button>
                    </div>
                </div>
            </div>
        </div>
      <!-- Tab panes -->
<div class="tab-content">
        <div class="tab-pane container active" id="active">
                <div class="container">
                        <br/>
                            <h3>Active Order</h3> 
                            <table class="table table-hover">
                              <thead>
                                <tr class="td_active">
                                  <th>Order#</th>
                                  <th>Title</th>
                                  <th>Time</th>
                                  <th>Price</th>
                                  <th>Status</th>
                                  <th>Cancel</th>
                                </tr>
                              </thead>
                              <tbody data-link="row" class="rowlink">
                                <tr>
                                    <% for(var i=0; i < orderData.length; i++) { %>
                                        <tr>
                                                <td><%= orderData[i].id %></td>
                                                <td><%= orderData[i].itemsOrdered %></td>
                                                <td><%= orderData[i].timeFulfilled %></td>
                                                <td><%= orderData[i].title %></td>
                                                <td><%= orderData[i].timeOrdered %></td>
                                                <td><form action="/cancelItem" method="post" key=<%= orderData[i].id%>><input name="id" type="hidden" value=<%= orderData[i].id%>><button type="submit" class="cancelOrderButton" value=<%= orderData[i].id%>>Cancel Order</button></form></td>
                                        </tr>
                                    <% } %>
                                </tr>
                              </tbody>
                            </table>
                    </div>
        </div>
        
        <div class="tab-pane container fade" id="inactive">
                <div class="container">
                        <br/>
                            <h3>Inactive Order</h3> 
                            <table class="table table-hover">
                                    <thead>
                                      <tr class="td_active">
                                        <th>Order#</th>
                                        <th>Title</th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                      </tr>
                                    </thead>
                                    <tbody data-link="row" class="rowlink">
                                      <tr>
                                          <% for(var i=0; i < orderData.length; i++) { %>
                                              <tr>
                                                      <td><%= orderData[i].id %></td>
                                                      <td><%= orderData[i].itemsOrdered %></td>
                                                      <td><%= orderData[i].timeFulfilled %></td>
                                                      <td><%= orderData[i].title %></td>
                                                      <td><%= orderData[i].timeOrdered %></td>
                                              </tr>
                                          <% } %>
                                      </tr>
                                    </tbody>
                                  </table>
                          </div>
        </div>
</div>



<% include partials/footer %>